nifi-flink-examples/src/main/resources/templates/nifi-flink-log-example-core.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>nifi-flink-log-example-core</name><snippet><connections><id>92b57171-5a43-4f48-9c29-d04e28a0ea12</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>ef19ca34-7acb-44e0-93c0-6e9918dec2a3</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>ad7be96a-1b30-445d-9944-97adaa1b9ad6</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>7f290e00-faae-43b1-9625-46f1f4769294</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>1309.6828002929688</x><y>607.5053100585938</y></bends><bends><x>1436.3056030273438</x><y>609.8075561523438</y></bends><destination><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>f041a5b0-7acb-4878-a914-12d1b0fc3b24</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>f041a5b0-7acb-4878-a914-12d1b0fc3b24</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>ac65cf66-ad19-41f1-b378-8071e7b3e3bf</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>1044.0103149414062</x><y>1049.6351318359375</y></bends><destination><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>75c4a77c-ead7-43cb-92b3-6e0c1311d312</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><selectedRelationships>not.found</selectedRelationships><selectedRelationships>permission.denied</selectedRelationships><source><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>d51aa9bf-f512-4d87-bff7-5ba274ff7fdc</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>38a15f81-ff89-4459-9f8a-edf8b85df228</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>868.3638305664062</x><y>849.0877685546875</y></bends><destination><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>d51aa9bf-f512-4d87-bff7-5ba274ff7fdc</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>b0aaeb5b-3802-40c0-9ac5-984f3887c9f0</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>c90426c2-13cb-4d42-bd25-c6d850d920cc</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>791.68017578125</x><y>612.1097412109375</y></bends><destination><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>cd42ed85-22f6-4e59-829f-685ff54e98f7</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>cb00ee1b-e0dd-41d2-b003-f4f3f35a7853</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>a11c9469-d801-4674-8793-36a258f6b8c5</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>467.06524658203125</x><y>614.4119873046875</y></bends><destination><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>cb00ee1b-e0dd-41d2-b003-f4f3f35a7853</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><source><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>c7f08f5e-c265-4a4e-9905-a053505ce80b</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>0014d80a-3aa3-4f99-a10a-78a9ae4bea95</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>520.8236694335938</x><y>849.0877685546875</y></bends><destination><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>b0aaeb5b-3802-40c0-9ac5-984f3887c9f0</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>1829fda9-74cb-4da6-a44b-5ef471b9f401</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>78cabdc3-2087-4c98-b30f-4e14351cd015</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>1140.4685668945312</x><y>612.1097412109375</y></bends><destination><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>f041a5b0-7acb-4878-a914-12d1b0fc3b24</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>cd42ed85-22f6-4e59-829f-685ff54e98f7</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>b182780a-5253-4a41-84a6-ca8d6ed901f0</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>1183.3583984375</x><y>847.9254760742188</y></bends><destination><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>14e4ca9e-5a64-48f6-80c6-9c64da5295b1</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>d51aa9bf-f512-4d87-bff7-5ba274ff7fdc</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><controllerServices><id>dca410e1-47e4-4007-8ac7-fb05f11c0107</id><comments></comments><descriptors><entry><key>Maximum Outstanding Requests</key><value><defaultValue>5000</defaultValue><description>The maximum number of HTTP requests that can be outstanding at any one time. Any attempt to register an additional HTTP Request will cause an error</description><displayName>Maximum Outstanding Requests</displayName><dynamic>false</dynamic><name>Maximum Outstanding Requests</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Request Expiration</key><value><defaultValue>1 min</defaultValue><description>Specifies how long an HTTP Request should be left unanswered before being evicted from the cache and being responded to with a Service Unavailable status code</description><displayName>Request Expiration</displayName><dynamic>false</dynamic><name>Request Expiration</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>StandardHttpContextMap</name><properties><entry><key>Maximum Outstanding Requests</key><value>5000</value></entry><entry><key>Request Expiration</key><value>1 min</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>Listening Port</key><value><defaultValue>80</defaultValue><description>The Port to listen on for incoming HTTP requests</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Hostname</key><value><description>The Hostname to bind to. If not specified, will bind to all hosts</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The SSL Context Service to use in order to secure the server. If specified, the server will accept only HTTPS requests; otherwise, the server will accept only HTTP requests</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>dca410e1-47e4-4007-8ac7-fb05f11c0107</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allowed Paths</key><value><description>A Regular Expression that specifies the valid HTTP Paths that are allowed in the incoming URL Requests. If this value is specified and the path of the HTTP Requests does not match this Regular Expression, the Processor will respond with a 404: NotFound</description><displayName>Allowed Paths</displayName><dynamic>false</dynamic><name>Allowed Paths</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Default URL Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The character set to use for decoding URL parameters if the HTTP Request does not supply one</description><displayName>Default URL Character Set</displayName><dynamic>false</dynamic><name>Default URL Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow GET</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP GET Method</description><displayName>Allow GET</displayName><dynamic>false</dynamic><name>Allow GET</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow POST</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP POST Method</description><displayName>Allow POST</displayName><dynamic>false</dynamic><name>Allow POST</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow PUT</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP PUT Method</description><displayName>Allow PUT</displayName><dynamic>false</dynamic><name>Allow PUT</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow DELETE</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP DELETE Method</description><displayName>Allow DELETE</displayName><dynamic>false</dynamic><name>Allow DELETE</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow HEAD</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP HEAD Method</description><displayName>Allow HEAD</displayName><dynamic>false</dynamic><name>Allow HEAD</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow OPTIONS</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP OPTIONS Method</description><displayName>Allow OPTIONS</displayName><dynamic>false</dynamic><name>Allow OPTIONS</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Additional HTTP Methods</key><value><description>A comma-separated list of non-standard HTTP Methods that should be allowed</description><displayName>Additional HTTP Methods</displayName><dynamic>false</dynamic><name>Additional HTTP Methods</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Authentication</key><value><allowableValues><description>Processor will not authenticate clients. Anyone can communicate with this Processor anonymously</description><displayName>No Authentication</displayName><value>No Authentication</value></allowableValues><allowableValues><description>Processor will try to verify the client but if unable to verify will allow the client to communicate anonymously</description><displayName>Want Authentication</displayName><value>Want Authentication</value></allowableValues><allowableValues><description>Processor will reject communications from any client unless the client provides a certificate that is trusted by the TrustStorespecified in the SSL Context Service</description><displayName>Need Authentication</displayName><value>Need Authentication</value></allowableValues><defaultValue>No Authentication</defaultValue><description>Specifies whether or not the Processor should authenticate clients. This value is ignored if the &lt;SSL Context Service&gt; Property is not specified or the SSL Context provided uses only a KeyStore and not a TrustStore.</description><displayName>Client Authentication</displayName><dynamic>false</dynamic><name>Client Authentication</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>1829fda9-74cb-4da6-a44b-5ef471b9f401</id><name>/dictionary</name><properties><entry><key>Listening Port</key><value>5188</value></entry><entry><key>Hostname</key><value> </value></entry><entry><key>SSL Context Service</key></entry><entry><key>HTTP Context Map</key><value>dca410e1-47e4-4007-8ac7-fb05f11c0107</value></entry><entry><key>Allowed Paths</key><value>/dictionary</value></entry><entry><key>Default URL Character Set</key><value>UTF-8</value></entry><entry><key>Allow GET</key><value>true</value></entry><entry><key>Allow POST</key><value>false</value></entry><entry><key>Allow PUT</key><value>false</value></entry><entry><key>Allow DELETE</key><value>false</value></entry><entry><key>Allow HEAD</key><value>false</value></entry><entry><key>Allow OPTIONS</key><value>false</value></entry><entry><key>Additional HTTP Methods</key></entry><entry><key>Client Authentication</key><value>No Authentication</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.HandleHttpRequest</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HTTP Status Code</key><value><description>The HTTP Status Code to use when responding to the HTTP Request. See Section 10 of RFC 2616 for more information.</description><displayName>HTTP Status Code</displayName><dynamic>false</dynamic><name>HTTP Status Code</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>dca410e1-47e4-4007-8ac7-fb05f11c0107</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>75c4a77c-ead7-43cb-92b3-6e0c1311d312</id><name>Error Response</name><properties><entry><key>HTTP Status Code</key><value>500</value></entry><entry><key>HTTP Context Map</key><value>dca410e1-47e4-4007-8ac7-fb05f11c0107</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.HandleHttpResponse</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HTTP Status Code</key><value><description>The HTTP Status Code to use when responding to the HTTP Request. See Section 10 of RFC 2616 for more information.</description><displayName>HTTP Status Code</displayName><dynamic>false</dynamic><name>HTTP Status Code</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>dca410e1-47e4-4007-8ac7-fb05f11c0107</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>47b82528-0166-48a1-8371-78080d953a8b</groupId><id>14e4ca9e-5a64-48f6-80c6-9c64da5295b1</id><name>Success Response</name><properties><entry><key>HTTP Status Code</key><value>200</value></entry><entry><key>HTTP Context Map</key><value>dca410e1-47e4-4007-8ac7-fb05f11c0107</value></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.processors.standard.HandleHttpResponse</type></referencingComponents><state>ENABLED</state><type>org.apache.nifi.http.StandardHttpContextMap</type></controllerServices><inputPorts><id>ad7be96a-1b30-445d-9944-97adaa1b9ad6</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><position><x>224.19080816041338</x><y>468.23146973417033</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>Logs</name><state>STOPPED</state><transmitting>false</transmitting><type>INPUT_PORT</type></inputPorts><inputPorts><id>c7f08f5e-c265-4a4e-9905-a053505ce80b</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><position><x>230.5325988769531</x><y>660.6031188964844</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>New Dictionary</name><state>STOPPED</state><transmitting>false</transmitting><type>INPUT_PORT</type></inputPorts><labels><id>6ff3a285-2a18-4faf-8d97-9ace206dbdc7</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><position><x>185.277383485742</x><y>563.6619567483949</y></position><height>199.4125213623047</height><label>Receive Log Levels from Flink</label><style><entry><key>background-color</key><value>#8fecff</value></entry><entry><key>font-size</key><value>16px</value></entry></style><width>1354.919921875</width></labels><labels><id>47c455bc-308c-4b7b-9679-95436930e3ab</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><position><x>184.10386966542347</x><y>798.5347045107242</y></position><height>313.2422790527344</height><label>Handle Request for Log Levels</label><style><entry><key>background-color</key><value>#c58fff</value></entry><entry><key>font-size</key><value>16px</value></entry></style><width>1351.444091796875</width></labels><labels><id>62b47779-4160-47b7-af2e-3dac8df6f8de</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><position><x>186.14783026967905</x><y>432.42336426964664</y></position><height>110.96854400634766</height><label>Receive Logs from Edge</label><style><entry><key>background-color</key><value>#d3ff91</value></entry><entry><key>font-size</key><value>16px</value></entry></style><width>1315.6922607421875</width></labels><outputPorts><id>ef19ca34-7acb-44e0-93c0-6e9918dec2a3</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><position><x>670.8240356196801</x><y>468.23149414890906</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>Logs for Flink</name><state>STOPPED</state><transmitting>false</transmitting><type>OUTPUT_PORT</type></outputPorts><processors><id>cd42ed85-22f6-4e59-829f-685ff54e98f7</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><position><x>804.3424133451249</x><y>645.4921935658156</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>filename</key><value><description></description><displayName>filename</displayName><dynamic>true</dynamic><name>filename</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>filename</key><value>levels.txt</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Set 'filename' to levels.txt</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>b0aaeb5b-3802-40c0-9ac5-984f3887c9f0</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><position><x>531.6399536146341</x><y>885.0256102978019</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>absolute.path</key><value><description></description><displayName>absolute.path</displayName><dynamic>true</dynamic><name>absolute.path</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>filename</key><value><description></description><displayName>filename</displayName><dynamic>true</dynamic><name>filename</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>absolute.path</key><value>./data/dictionary</value></entry><entry><key>filename</key><value>levels.txt</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Set 'filename' of Log Level Dictionary</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>75c4a77c-ead7-43cb-92b3-6e0c1311d312</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><position><x>1197.9010130855402</x><y>1000.1482970384995</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HTTP Status Code</key><value><description>The HTTP Status Code to use when responding to the HTTP Request. See Section 10 of RFC 2616 for more information.</description><displayName>HTTP Status Code</displayName><dynamic>false</dynamic><name>HTTP Status Code</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>dca410e1-47e4-4007-8ac7-fb05f11c0107</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HTTP Status Code</key><value>500</value></entry><entry><key>HTTP Context Map</key><value>dca410e1-47e4-4007-8ac7-fb05f11c0107</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Error Response</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles will be routed to this Relationship if the Processor is unable to respond to the requestor. This may happen, for instance, if the connection times out or if NiFi is restarted before responding to the HTTP Request.</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles will be routed to this Relationship after the response has been successfully sent to the requestor</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.HandleHttpResponse</type></processors><processors><id>cb00ee1b-e0dd-41d2-b003-f4f3f35a7853</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><position><x>450.9446899414062</x><y>645.7632690429688</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Log Level</key><value><allowableValues><displayName>trace</displayName><value>trace</value></allowableValues><allowableValues><displayName>debug</displayName><value>debug</value></allowableValues><allowableValues><displayName>info</displayName><value>info</value></allowableValues><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>error</displayName><value>error</value></allowableValues><defaultValue>info</defaultValue><description>The Log Level to use when logging the Attributes</description><displayName>Log Level</displayName><dynamic>false</dynamic><name>Log Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log Payload</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the FlowFile's payload will be logged, in addition to its attributes; otherwise, just the Attributes will be logged.</description><displayName>Log Payload</displayName><dynamic>false</dynamic><name>Log Payload</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Log</key><value><description>A comma-separated list of Attributes to Log. If not specified, all attributes will be logged.</description><displayName>Attributes to Log</displayName><dynamic>false</dynamic><name>Attributes to Log</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Ignore</key><value><description>A comma-separated list of Attributes to ignore. If not specified, no attributes will be ignored.</description><displayName>Attributes to Ignore</displayName><dynamic>false</dynamic><name>Attributes to Ignore</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log prefix</key><value><description>Log prefix appended to the log lines. It helps to distinguish the output of multiple LogAttribute processors.</description><displayName>Log prefix</displayName><dynamic>false</dynamic><name>Log prefix</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Log Level</key><value>info</value></entry><entry><key>Log Payload</key><value>true</value></entry><entry><key>Attributes to Log</key></entry><entry><key>Attributes to Ignore</key></entry><entry><key>Log prefix</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>LogAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.LogAttribute</type></processors><processors><id>1829fda9-74cb-4da6-a44b-5ef471b9f401</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><position><x>201.39292608202584</x><y>882.7232848561509</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Listening Port</key><value><defaultValue>80</defaultValue><description>The Port to listen on for incoming HTTP requests</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Hostname</key><value><description>The Hostname to bind to. If not specified, will bind to all hosts</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The SSL Context Service to use in order to secure the server. If specified, the server will accept only HTTPS requests; otherwise, the server will accept only HTTP requests</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>dca410e1-47e4-4007-8ac7-fb05f11c0107</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allowed Paths</key><value><description>A Regular Expression that specifies the valid HTTP Paths that are allowed in the incoming URL Requests. If this value is specified and the path of the HTTP Requests does not match this Regular Expression, the Processor will respond with a 404: NotFound</description><displayName>Allowed Paths</displayName><dynamic>false</dynamic><name>Allowed Paths</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Default URL Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The character set to use for decoding URL parameters if the HTTP Request does not supply one</description><displayName>Default URL Character Set</displayName><dynamic>false</dynamic><name>Default URL Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow GET</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP GET Method</description><displayName>Allow GET</displayName><dynamic>false</dynamic><name>Allow GET</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow POST</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP POST Method</description><displayName>Allow POST</displayName><dynamic>false</dynamic><name>Allow POST</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow PUT</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP PUT Method</description><displayName>Allow PUT</displayName><dynamic>false</dynamic><name>Allow PUT</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow DELETE</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP DELETE Method</description><displayName>Allow DELETE</displayName><dynamic>false</dynamic><name>Allow DELETE</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow HEAD</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP HEAD Method</description><displayName>Allow HEAD</displayName><dynamic>false</dynamic><name>Allow HEAD</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow OPTIONS</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP OPTIONS Method</description><displayName>Allow OPTIONS</displayName><dynamic>false</dynamic><name>Allow OPTIONS</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Additional HTTP Methods</key><value><description>A comma-separated list of non-standard HTTP Methods that should be allowed</description><displayName>Additional HTTP Methods</displayName><dynamic>false</dynamic><name>Additional HTTP Methods</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Authentication</key><value><allowableValues><description>Processor will not authenticate clients. Anyone can communicate with this Processor anonymously</description><displayName>No Authentication</displayName><value>No Authentication</value></allowableValues><allowableValues><description>Processor will try to verify the client but if unable to verify will allow the client to communicate anonymously</description><displayName>Want Authentication</displayName><value>Want Authentication</value></allowableValues><allowableValues><description>Processor will reject communications from any client unless the client provides a certificate that is trusted by the TrustStorespecified in the SSL Context Service</description><displayName>Need Authentication</displayName><value>Need Authentication</value></allowableValues><defaultValue>No Authentication</defaultValue><description>Specifies whether or not the Processor should authenticate clients. This value is ignored if the &lt;SSL Context Service&gt; Property is not specified or the SSL Context provided uses only a KeyStore and not a TrustStore.</description><displayName>Client Authentication</displayName><dynamic>false</dynamic><name>Client Authentication</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Listening Port</key><value>5188</value></entry><entry><key>Hostname</key><value> </value></entry><entry><key>SSL Context Service</key></entry><entry><key>HTTP Context Map</key><value>dca410e1-47e4-4007-8ac7-fb05f11c0107</value></entry><entry><key>Allowed Paths</key><value>/dictionary</value></entry><entry><key>Default URL Character Set</key><value>UTF-8</value></entry><entry><key>Allow GET</key><value>true</value></entry><entry><key>Allow POST</key><value>false</value></entry><entry><key>Allow PUT</key><value>false</value></entry><entry><key>Allow DELETE</key><value>false</value></entry><entry><key>Allow HEAD</key><value>false</value></entry><entry><key>Allow OPTIONS</key><value>false</value></entry><entry><key>Additional HTTP Methods</key></entry><entry><key>Client Authentication</key><value>No Authentication</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>/dictionary</name><relationships><autoTerminate>false</autoTerminate><description>All content that is received is routed to the 'success' relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.HandleHttpRequest</type></processors><processors><id>f041a5b0-7acb-4878-a914-12d1b0fc3b24</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><position><x>1157.73540639727</x><y>645.4920043786399</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Directory</key><value><description>The directory to which files should be written. You may use expression language such as /aa/bb/${path}</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Create Missing Directories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.</description><displayName>Create Missing Directories</displayName><dynamic>false</dynamic><name>Create Missing Directories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Count</key><value><description>Specifies the maximum number of files that can exist in the output directory</description><displayName>Maximum File Count</displayName><dynamic>false</dynamic><name>Maximum File Count</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Last Modified Time</key><value><description>Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.</description><displayName>Last Modified Time</displayName><dynamic>false</dynamic><name>Last Modified Time</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions</key><value><description>Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.</description><displayName>Permissions</displayName><dynamic>false</dynamic><name>Permissions</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Owner</key><value><description>Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.</description><displayName>Owner</displayName><dynamic>false</dynamic><name>Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Group</key><value><description>Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.</description><displayName>Group</displayName><dynamic>false</dynamic><name>Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Directory</key><value>./data/dictionary</value></entry><entry><key>Conflict Resolution Strategy</key><value>replace</value></entry><entry><key>Create Missing Directories</key><value>true</value></entry><entry><key>Maximum File Count</key></entry><entry><key>Last Modified Time</key></entry><entry><key>Permissions</key></entry><entry><key>Owner</key></entry><entry><key>Group</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Store New Dictionary</name><relationships><autoTerminate>false</autoTerminate><description>Files that could not be written to the output directory for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to the output directory are transferred to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutFile</type></processors><processors><id>d51aa9bf-f512-4d87-bff7-5ba274ff7fdc</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><position><x>858.3998229616996</x><y>885.0256041924266</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>File to Fetch</key><value><defaultValue>${absolute.path}/${filename}</defaultValue><description>The fully-qualified filename of the file to fetch from the file system</description><displayName>File to Fetch</displayName><dynamic>false</dynamic><name>File to Fetch</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Completion Strategy</key><value><allowableValues><description>Leave the file as-is</description><displayName>None</displayName><value>None</value></allowableValues><allowableValues><description>Moves the file to the directory specified by the &lt;Move Destination Directory&gt; property</description><displayName>Move File</displayName><value>Move File</value></allowableValues><allowableValues><description>Deletes the original file from the file system</description><displayName>Delete File</displayName><value>Delete File</value></allowableValues><defaultValue>None</defaultValue><description>Specifies what to do with the original file on the file system once it has been pulled into NiFi</description><displayName>Completion Strategy</displayName><dynamic>false</dynamic><name>Completion Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Move Destination Directory</key><value><description>The directory to the move the original file to once it has been fetched from the file system. This property is ignored unless the Completion Strategy is set to &quot;Move File&quot;. If the directory does not exist, it will be created.</description><displayName>Move Destination Directory</displayName><dynamic>false</dynamic><name>Move Destination Directory</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Move Conflict Strategy</key><value><allowableValues><description>The existing destination file should remain intact. The newly ingested file should be moved to the destination directory but be renamed to a random filename</description><displayName>Rename</displayName><value>Rename</value></allowableValues><allowableValues><description>The newly ingested file should replace the existing file in the Destination Directory</description><displayName>Replace File</displayName><value>Replace File</value></allowableValues><allowableValues><description>The existing file should in the Destination Directory should stay intact and the newly ingested file should be deleted</description><displayName>Keep Existing</displayName><value>Keep Existing</value></allowableValues><allowableValues><description>The existing destination file should remain intact and the incoming FlowFile should be routed to failure</description><displayName>Fail</displayName><value>Fail</value></allowableValues><defaultValue>Rename</defaultValue><description>If Completion Strategy is set to Move File and a file already exists in the destination directory with the same name, this property specifies how that naming conflict should be resolved</description><displayName>Move Conflict Strategy</displayName><dynamic>false</dynamic><name>Move Conflict Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>File to Fetch</key><value>${absolute.path}/${filename}</value></entry><entry><key>Completion Strategy</key><value>None</value></entry><entry><key>Move Destination Directory</key></entry><entry><key>Move Conflict Strategy</key><value>Rename</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Fetch Log Level Dictionary</name><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile that could not be fetched from the file system for any reason other than insufficient permissions or the file not existing will be transferred to this Relationship.</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile that could not be fetched from the file system because the file could not be found will be transferred to this Relationship.</description><name>not.found</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile that could not be fetched from the file system due to the user running NiFi not having sufficient permissions will be transferred to this Relationship.</description><name>permission.denied</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile that is successfully fetched from the file system will be transferred to this Relationship.</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.FetchFile</type></processors><processors><id>14e4ca9e-5a64-48f6-80c6-9c64da5295b1</id><parentGroupId>47b82528-0166-48a1-8371-78080d953a8b</parentGroupId><position><x>1197.9234313006284</x><y>887.3390624388009</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HTTP Status Code</key><value><description>The HTTP Status Code to use when responding to the HTTP Request. See Section 10 of RFC 2616 for more information.</description><displayName>HTTP Status Code</displayName><dynamic>false</dynamic><name>HTTP Status Code</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>dca410e1-47e4-4007-8ac7-fb05f11c0107</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HTTP Status Code</key><value>200</value></entry><entry><key>HTTP Context Map</key><value>dca410e1-47e4-4007-8ac7-fb05f11c0107</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Success Response</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles will be routed to this Relationship if the Processor is unable to respond to the requestor. This may happen, for instance, if the connection times out or if NiFi is restarted before responding to the HTTP Request.</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles will be routed to this Relationship after the response has been successfully sent to the requestor</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.HandleHttpResponse</type></processors></snippet><timestamp>02/02/2016 13:56:13 EST</timestamp></template>